<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webflux.mapper.UserMapper">

    <sql id="user_result">
        id
            ,user_name
            ,password
            ,age
            ,birthday
            ,sex
            ,salary
    </sql>

    <select id="selectSalesUsers" resultType="com.example.webflux.domain.UserBean">
            select
            <include refid="user_result" />
            from
                SALES_USER
            where
                id = #{id}
    </select>

    <select id="selectAdminUsers" resultType="com.example.webflux.domain.UserBean">
        select
        <include refid="user_result" />
        from
            ADMIN_USER
        where
            id = #{id}
    </select>

    <select id="selectPerUsers" resultType="com.example.webflux.domain.UserBean">
        select
        <include refid="user_result" />
        from
            PER_USER
        where
            id = #{id}
    </select>

    <select id="selectPurUsers" resultType="com.example.webflux.domain.UserBean">
        select
        <include refid="user_result" />
        from
            PUR_USER
        where
            id = #{id}
    </select>

    <select id="selectUserByTransCode" resultType="com.example.webflux.domain.UserBean">
        select
        <include refid="user_result" />
        from
            ${tableName}
        where
            id = #{id}
    </select>

    <!-- 获取原属性 -->
    <select id="getOrgnations" resultType="com.example.webflux.domain.CategoryBean">
        select
            entity_id   as entityNo
            ,parent_id  as parentEntityNo
            ,no		    as no
            ,name_cn    as nameCn
            ,name_en    as nameEn
            ,create_time as createTime
            ,update_time as updateTime
        from
            category_orgnation
        where entity_id = #{entityNo}
    </select>

    <!-- 模拟从动态属性表获取参数 -->
    <resultMap id="retMap" type="com.example.webflux.domain.ExtendBean">
        <!-- 已存在的作为原属性的动态属性 -->
        <result column="category" property="category" />
        <result column="type_id" property="typeId" />
        <!-- 新增动态属性用Map承载 -->
        <association property="extendInfo" javaType="Map">
            <result column="categoryNameEn" property="categoryNameEn" />
            <result column="categoryNameCn" property="categoryNameCn" />
        </association>
    </resultMap>
    <select id="getExtends" resultMap="retMap">
        select
             category
            ,type_id
            ,(select item_value_en from dict_item where type_id = item_id) as categoryNameEn
            ,(select item_value_cn from dict_item where type_id = item_id) as categoryNameCn
            ,org.entity_id
        from
            category_orgnation
        where entity_id = #{entityNo}
    </select>

</mapper>
